## Deliverable 2. Create a Customer Travel Destinations Map.

In [27]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import API key
from config import g_key

# Configure gmaps API key
gmaps.configure(api_key=g_key)

In [28]:
# 1. Import the WeatherPy_database.csv file. 
city_data_df = pd.read_csv("Weather_Database/WeatherPy_database.csv")
city_data_df.head()

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,0,Kapaa,US,22.0752,-159.3190,84.18,68,30,4.00,scattered clouds
1,1,Tinskoy,RU,56.1525,96.9161,54.88,87,100,0.60,overcast clouds
2,2,Mount Gambier,AU,-37.8333,140.7667,42.15,86,9,4.59,clear sky
3,3,Ilulissat,GL,69.2167,-51.1000,60.82,36,11,8.05,few clouds
4,4,Port Keats,AU,-14.2500,129.5500,73.27,91,75,1.39,broken clouds

In [29]:
# 2. Prompt the user to enter minimum and maximum temperature criteria 
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 70
What is the maximum temperature you would like for your trip? 95

In [30]:
# 3. Filter the city_data_df DataFrame using the input statements to create a new DataFrame using the loc method.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & 
                                        (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,0,Kapaa,US,22.0752,-159.3190,84.18,68,30,4.00,scattered clouds
4,4,Port Keats,AU,-14.2500,129.5500,73.27,91,75,1.39,broken clouds
5,5,Haines Junction,CA,60.7522,-137.5108,75.42,36,7,4.54,clear sky
7,7,Sampit,ID,-2.5333,112.9500,73.53,96,16,2.66,few clouds
12,12,Sioux Lookout,CA,50.1001,-91.9170,76.41,28,80,13.00,broken clouds
...,...,...,...,...,...,...,...,...,...,...
661,661,Neiafu,TO,-18.6500,-173.9833,75.88,94,75,4.61,light rain
663,663,Kupang,ID,-10.1667,123.5833,75.36,84,5,9.26,clear sky
664,664,Hyderabad,IN,17.3753,78.4744,76.51,66,40,8.05,haze
667,667,Lagunas,PE,-5.2269,-75.6753,87.67,38,24,1.83,few clouds
670,670,Albert Lea,US,43.6480,-93.3683,78.96,69,1,8.05,haze

In [31]:
# 4a. Determine if there are any empty rows.
preferred_cities_df.replace("","NaN")
preferred_cities_df.count()

City_ID                339
City                   339
Country                338
Lat                    339
Lng                    339
Max Temp               339
Humidity               339
Cloudiness             339
Wind Speed             339
Current Description    339
dtype: int64

In [32]:
# 4b. Drop any empty rows and create a new DataFrame that doesn’t have empty rows.
clean_df = preferred_cities_df.dropna()
clean_df

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,0,Kapaa,US,22.0752,-159.3190,84.18,68,30,4.00,scattered clouds
4,4,Port Keats,AU,-14.2500,129.5500,73.27,91,75,1.39,broken clouds
5,5,Haines Junction,CA,60.7522,-137.5108,75.42,36,7,4.54,clear sky
7,7,Sampit,ID,-2.5333,112.9500,73.53,96,16,2.66,few clouds
12,12,Sioux Lookout,CA,50.1001,-91.9170,76.41,28,80,13.00,broken clouds
...,...,...,...,...,...,...,...,...,...,...
661,661,Neiafu,TO,-18.6500,-173.9833,75.88,94,75,4.61,light rain
663,663,Kupang,ID,-10.1667,123.5833,75.36,84,5,9.26,clear sky
664,664,Hyderabad,IN,17.3753,78.4744,76.51,66,40,8.05,haze
667,667,Lagunas,PE,-5.2269,-75.6753,87.67,38,24,1.83,few clouds
670,670,Albert Lea,US,43.6480,-93.3683,78.96,69,1,8.05,haze

In [33]:
# 5a. Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = clean_df[["City", "Country", "Max Temp", "Current Description", "Lat", "Lng"]].copy()

# 5b. Create a new column "Hotel Name"
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,Kapaa,US,84.18,scattered clouds,22.0752,-159.3190,
4,Port Keats,AU,73.27,broken clouds,-14.2500,129.5500,
5,Haines Junction,CA,75.42,clear sky,60.7522,-137.5108,
7,Sampit,ID,73.53,few clouds,-2.5333,112.9500,
12,Sioux Lookout,CA,76.41,broken clouds,50.1001,-91.9170,
14,Mayor Pablo Lagerenza,PY,87.40,broken clouds,-19.9309,-60.7718,
15,Hasaki,JP,73.80,moderate rain,35.7333,140.8333,
16,Albany,US,73.80,broken clouds,42.6001,-73.9662,
18,Alofi,NU,78.80,light rain,-19.0595,-169.9187,
20,Bengkulu,ID,75.09,scattered clouds,-3.8004,102.2655,

In [34]:
# 6a. Set parameters to search for hotels with 5000 meters.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

# 6b. Iterate through the hotel DataFrame.
for i, row in hotel_df.iterrows():
    # 6c. Get latitude and longitude from DataFrame
    lat = row["Lat"]
    lng = row["Lng"] 
    params["location"] = f"{lat},{lng}"
    # 6d. Set up the base URL for the Google Directions API to get JSON data.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

    # 6e. Make request and retrieve the JSON data from the search. 
    hotels = requests.get(base_url, params=params).json()
    
    # 6f. Get the first hotel from the results and store the name, if a hotel isn't found skip the city.
    try:
        hotel_df.loc[i, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [35]:
hotel_df

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,Kapaa,US,84.18,scattered clouds,22.0752,-159.3190,Sheraton Kauai Coconut Beach Resort
4,Port Keats,AU,73.27,broken clouds,-14.2500,129.5500,TDC Village (Hundred Man Camp)
5,Haines Junction,CA,75.42,clear sky,60.7522,-137.5108,Parkside Inn
7,Sampit,ID,73.53,few clouds,-2.5333,112.9500,Aquarius Boutique Hotel Sampit
12,Sioux Lookout,CA,76.41,broken clouds,50.1001,-91.9170,Knobby's Fly-In Camps
...,...,...,...,...,...,...,...
661,Neiafu,TO,75.88,light rain,-18.6500,-173.9833,Mystic Sands Beachfront Accommodation
663,Kupang,ID,75.36,clear sky,-10.1667,123.5833,Hotel On The Rock by Prasanthi
664,Hyderabad,IN,76.51,haze,17.3753,78.4744,Star Inn
667,Lagunas,PE,87.67,few clouds,-5.2269,-75.6753,Hospedaje Eco
670,Albert Lea,US,78.96,haze,43.6480,-93.3683,Countryside Motel Albert Lea

In [36]:
# 7. Drop the rows where there is no Hotel Name.
hotel_df = hotel_df.replace("",float('NaN'))
clean_hotel_df = hotel_df.dropna()
clean_hotel_df

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,Kapaa,US,84.18,scattered clouds,22.0752,-159.3190,Sheraton Kauai Coconut Beach Resort
4,Port Keats,AU,73.27,broken clouds,-14.2500,129.5500,TDC Village (Hundred Man Camp)
5,Haines Junction,CA,75.42,clear sky,60.7522,-137.5108,Parkside Inn
7,Sampit,ID,73.53,few clouds,-2.5333,112.9500,Aquarius Boutique Hotel Sampit
12,Sioux Lookout,CA,76.41,broken clouds,50.1001,-91.9170,Knobby's Fly-In Camps
...,...,...,...,...,...,...,...
661,Neiafu,TO,75.88,light rain,-18.6500,-173.9833,Mystic Sands Beachfront Accommodation
663,Kupang,ID,75.36,clear sky,-10.1667,123.5833,Hotel On The Rock by Prasanthi
664,Hyderabad,IN,76.51,haze,17.3753,78.4744,Star Inn
667,Lagunas,PE,87.67,few clouds,-5.2269,-75.6753,Hospedaje Eco
670,Albert Lea,US,78.96,haze,43.6480,-93.3683,Countryside Motel Albert Lea

In [37]:
# 8a. Create the output File (CSV)
output_data_file = "Vacation_Search/WeatherPy_vacation.csv"
# 8b. Export the City_Data into a csv
clean_hotel_df.to_csv(output_data_file, index_label="City_ID")

In [38]:
# 9. Using the template add city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Weather</dt><dd>{Current Description} and {Max Temp} °F</dd>
</dl>
"""

# 10a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in clean_hotel_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = clean_hotel_df[["Lat", "Lng"]]

In [26]:
# 11a. Add a marker layer for each city to the map. 
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(marker_layer)
# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))